<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeLists.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7EE034D91E49E82100D8524D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EE034ED1E49E82200D8524D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EE034F81E49E82200D8524D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
